
body{
  font-family: 'Noto Sans', sans-serif;
	margin:0;
  background-image: url('https://unsplash.imgix.net/41/yEWFnFQRqfmY9l9efJ6g_Snap01-web.jpg?q=75&w=1080&h=1080&fit=max&fm=jpg&auto=format&s=7580de2dc3b3821f0dc1c97f2d60fe7c');
}
header{
	width:100%; 
	background:#1d1f20; 
	height:50px; 
	line-height:50px;
}
.hamburger{
  background:brown;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:blue;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#131313;  position:absolute; text-align:center;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu li:hover{display: block;    background:#181818; padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu ul li a { text-decoration:wavy;  margin: 0px; color:#fff;}
.menu ul li a:hover {  color: #fff; text-decoration:window;}
.menu a{text-decoration:wavy; color:black;}
.menu a:hover{text-decoration:none; color:brown;}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}
body {
    display:flex;
    min-height: 100vh;
    flex-direction:column;
    
}

main{
    flex:1 0 auto;
    
}

.blog-post {
    margin-bottom: 60px;
   
}

.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
    
        
}

.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
    front-style:italic;
    
}